.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
build/entry.o
build/main.o
build/slops.iso
build/vga.o
build/iso/boot/kernel.elf
notes
makemake
kernel/entryy.asm
kernel/gdtt.asm
kernel/64bit_entry.asm
build/kernel.elf
build/gdt.o
make make
build/kernel.elf
fireacodebin.dat
.gitignore
firacode.bmp
firecode.bmp
ssfiracode.png
fcfont.png
build/kernel.elf
build/kernel.elf
kernel/idt.o
kernel/serial.o
kernel/string.o
kernel/serial.o
build/isr.o
kernel/font8x16.o
kernel/framebuffer.o
