.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
build/entry.o
build/main.o
build/slops.iso
build/vga.o
build/iso/boot/kernel.elf
notes
makemake
kernel/entryy.asm
kernel/gdtt.asm
kernel/64bit_entry.asm
build/kernel.elf
build/gdt.o
make make
build/kernel.elf
fireacodebin.dat
.gitignore
firacode.bmp
firecode.bmp
ssfiracode.png
fcfont.png
build/kernel.elf
build/kernel.elf
kernel/idt.o
kernel/serial.o
kernel/string.o
kernel/serial.o
build/isr.o
kernel/font8x16.o
kernel/framebuffer.o
kernel/serial.o
kernel/serial.o
kernel/kbd.o
kernel/shell.o
kernel/mem.o
fs.img
hello.txt
is_free
.gitignore
kernel/ata.o
kernel/serial.o
a.txt
a2.txt
a3.txt
b.txt
HELLO.TXT
HELLO2.TXT
kernel/fat.o
build/kernel.elf
ITER.TXT
iter.txt
PANCAKES.TXT
PCAKE.TXT
